


.nav-container{
    background-color: rgba(255, 255, 255, 0.678);
    position: sticky;
    top: 10px;
    margin: 0px 5px 10px 5px;
}
.dropdown-bg{
    background-color:rgb(226, 124, 240) ;
}
.dropdown-title{
    color: black;
    text-decoration: none;

}
.dropdown-title:hover{
    color: black;

}
.bye-btn{
    background-color: rgb(168, 112, 201);
    color: black;
    text-decoration: none;
}
.bye-btn:hover{
    color: white;
    background-color: rgb(172, 40, 189);
}
.headings{
    font-size:2rem;
}
.container-bg{
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    padding-bottom: 0%;
    margin-bottom: 0%;
    
}
.container{
    margin-bottom: 0%;
}
.card{
    margin: 0%;
    height: 370px;
    width: 300px;
    color: rgb(255, 0, 140);
}

